<div class="container">
  <h1>Todolist</h1>
  <section class="form">
    <label for="todo">
      <input #todo type="text" name="todo" class="form__input" placeholder="What do you want to do today?" [value]="editedId ? todos[editedId].label : ''">
    </label>
    <button *ngIf="!editMode" class="form__submit" (click)="addTodo(todo.value); todo.value = ''">Save</button>
    <button *ngIf="editMode" class="form__update" (click)="updateTodo(todo.value, editedId); todo.value = ''">Update</button>
    <button class="form__clear" (click)="clear(); todo.value = ''">Clear</button>
  </section>
  <section class="items">
    <h3>Your to do list for today:</h3>
    <todo-item *ngFor="let item of todos" [args]="item" (edit)="update($event)" (delete)="delete($event)" (archive)="archive($event)"></todo-item>
  </section>
</div>
